<div class="section" id="section">
  <div class="section-heading">
    <h2>Перегляд відповідей</h2>
  </div>
  <div *ngIf="details$ | async as details; else loader">
    <div *ngIf="details.answer.answers.length !== 0; else empty">
      <p>Запитань: {{ getTotalQuestions(details) }} / Вірно: {{ getCorrectAnswers(details) }}</p>
      <div>
        <p>Максимальна оцінка: {{ details.test.mark }} / {{ details.answer.mark }} </p>
      </div>

      <div *ngFor="let answerDetail of details.answer.answers; let i = index">
        <div>Питання: {{ answerDetail.question }}</div>
        <div>Надана відповідь: {{ answerDetail.answer }}</div>
        <div>Статус: {{ answerDetail.correct ? 'Вірно' : 'Невірно' }}</div>
      </div>
    </div>
    <ng-template #empty>
      <div class="center">Відповіді не знайдено</div>
    </ng-template>
  </div>

  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
</div>
